<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Calculate Financial Goals</h1>
    <form action="#" th:action="@{/demo}" th:object="${finGoal}" method="post">
    	<p>Time(in months): <input type="text" th:field="*{time}" /></p>
        <p>Goal(in rupees): <input type="text" th:field="*{goal}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>